
/**
 * Stuff to override the base Geonode theme that bootstrap didnt override
 */

html .navbar .nav > li > a {
    -moz-text-decoration: none;
    padding-bottom: 19.5px;
    padding-top: 19.5px;
    text-shadow: none;
}

html .navbar .nav {
    display: block;
    margin: inherit;
    position: relative;
}

body {
    background-attachment: none;
    background-clip: none;
    background-image: none;
    background-origin: none;
    background-position: 0 0;
    background-repeat: none;
    background-size: none;
    padding-bottom: 0px;
    padding-top: 0px;
}
body h1, body h2, body h3, body h4, body h5, body h6, body .h1, body .h2, body .h3, body .h4, body .h5, body .h6{
    line-height: 36px;
}
.content-wrap {
    padding-left: 0;
    padding-top: 0;
    width: 1140px;
}
.span12 {
    width: 1140px;
}
.span8 {
    width: 820px;
}
/*.span4 {
    width: 500px;
}*/
[class*="span"] {
  margin-left: 0px;
}

html .pagination {
  display: none;
}

footer.footer {
    background: none;
    bottom: auto;
    color: #1FA5A4;
    font-size: 15px;
    height: auto;
    left: auto;
    padding-top: auto;
    position: relative;
    width: auto;
}

footer.footer a {
    -moz-text-decoration: none;
    color: #1FA5A4;
}

select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
  font-size: 15px;
  height: 43px;
}
/*-------------------------------------*/
body .container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 738px) {
  body .container {
    width: 720px;
  }
}
@media (min-width: 962px) {
  body .container {
    width: 940px;
  }
}
@media (min-width: 1170px) {/*might have to do the minus 30px on these min widths too*/
  body .container {
    width: 1140px;
  }
}

/**
 * Stuff that is modal, like the permissions
 */ 
.modal, #modal_perms {
  left: 400px;
}